<!--
SPDX-FileCopyrightText: [[ copyright_date ]]-present [[ maintainer_fullname ]] <[[ maintainer_email ]]>

SPDX-License-Identifier: [[ project_license ]]
-->

# [[ project_name ]]

[[ project_description ]]

## Install

TODO

## Usage

TODO

## Contributing

The current version of this project is not for general use.

## License

MIT © [[ copyright_date ]] [[ copyright_holder ]]
