# SPDX-FileCopyrightText: [[ copyright_date ]]-present [[ maintainer_fullname ]] <[[ maintainer_email ]]>
#
# SPDX-License-Identifier: MIT
#

locals {
  standard_prefix = "${var.environment_name}-${var.variant}-${var.stack_name}"
}
