# SPDX-FileCopyrightText: [[ copyright_date ]]-present [[ maintainer_fullname ]] <[[ maintainer_email ]]>
#
# SPDX-License-Identifier: MIT
#

output "ssm_param_meta_stack_present_path" {
  value       = aws_ssm_parameter.stack_present.name
  description = "The path of the SSM Parameter present for any stack deployment."
}
