# SPDX-FileCopyrightText: [[ copyright_date ]]-present [[ maintainer_fullname ]] <[[ maintainer_email ]]>
#
# SPDX-License-Identifier: MIT
#

output "ssm_param_meta_unit_present_path" {
  value       = aws_ssm_parameter.unit_present.name
  description = "The path of the SSM Parameter present for any unit deployment."
}
