# SPDX-FileCopyrightText: [[ copyright_date ]]-present [[ maintainer_fullname ]] <[[ maintainer_email ]]>
#
# SPDX-License-Identifier: MIT
#

terraform {
  required_version = "> 1.0.0"

  required_providers {
    random = {
      source  = "hashicorp/random"
      version = "~> 3.0"
    }
  }
}

resource "random_string" "edition_suffix" {
  length  = 5
  numeric = false
  special = false
  upper   = false
}

output "random_tft_edition_name" {
  value       = "tt${random_string.edition_suffix.result}"
  description = "TFT: A random edition name."
}
