---
# SPDX-FileCopyrightText: [[ copyright_date ]]-present [[ maintainer_fullname ]] <[[ maintainer_email ]]>
#
# SPDX-License-Identifier: MIT
#
# Terraform and OpenTofu setup tasks for the Task runner:
#
# https://taskfile.dev
#
# Requirements:
#
# - Git
# - POSIX shell
# - Terraform or OpenTofu
#
# Set these variables to override the defaults:
#
# PRODUCT_NAME - Name of project
# TF_CLI_EXE - The Terraform or OpenTofu executable to use
#
# yamllint disable rule:line-length

version: "3"

## Variables ##

vars:
  # Defaults
  DEFAULT_TF_CLI_EXE: terraform
  DEFAULT_PRODUCT_NAME:
    ref: "base .ROOT_DIR"

  # Variables to override

  # Override with TF_CLI_EXE to specify the Terraform or OpenTofu executable
  # To use OpenTofu, specify: TF_CLI_EXE=tofu
  CURRENT_TF_CLI_EXE:
    ref: "default .DEFAULT_TF_CLI_EXE .TF_CLI_EXE"

## Tasks ##

tasks:

  version:
    desc: Version of TF
    cmds:
      - echo {{.CURRENT_TF_CLI_EXE}} version
