# SPDX-FileCopyrightText: [[ copyright_date ]]-present [[ maintainer_fullname ]] <[[ maintainer_email ]]>
#
# SPDX-License-Identifier: [[ project_license ]]
#
# AWS Parameter Store parameter for instance hash
#
# This is used for the default integration test.
# You may also use query it to get the instance hash for a deployed set of resources.
#
# If you do not use AWS, remove this file and change the tests so that they do not rely on this parameter.

resource "aws_ssm_parameter" "meta_instance_edition_id" {
  name  = "/metadata/${local.meta_product_name}/${local.meta_environment_name}/${local.meta_component_name}/${local.meta_edition}/edition_id"
  type  = "String"
  value = local.edition_id
}

output "ssm_param_meta_instance_edition_id_path" {
  value       = aws_ssm_parameter.meta_instance_edition_id.name
  description = "Meta: The SSM Parameter storing the unique ID for this instance of TF root module."
}
