# SPDX-FileCopyrightText: [[ copyright_date ]]-present [[ maintainer_fullname ]] <[[ maintainer_email ]]>
#
# SPDX-License-Identifier: [[ project_license ]]
#
# AWS Parameter Store parameter for instance hash
#
# This is used for the default integration test.
# You may also use query it to get the instance hash for a deployed set of resources.
#
# If you do not use AWS, remove this file and change the tests so that they do not rely on this parameter.

resource "aws_ssm_parameter" "meta_instance_sha256" {
  name  = "/metadata/${local.meta_product_name}/${local.meta_environment_name}/${local.meta_component_name}/${local.meta_edition}/sha256"
  type  = "String"
  value = local.meta_instance_sha256_hash
}

output "ssm_param_meta_instance_sha256_path" {
  value       = aws_ssm_parameter.meta_instance_sha256.name
  description = "Meta: The SSM Parameter that provides the instance SHA256 hash for a deployed TF root module."
}
