# SPDX-FileCopyrightText: [[ copyright_date ]]-present [[ maintainer_fullname ]] <[[ maintainer_email ]]>
#
# SPDX-License-Identifier: MIT
#

locals {
  meta_edition              = lower(var.tft_edition)
  meta_environment_name     = lower(var.tft_environment_name)
  meta_product_name         = lower(var.tft_product_name)
  meta_unit_name            = lower(var.tft_unit_name)
  meta_instance_sha256_hash = sha256("${local.meta_product_name}-${local.meta_environment_name}-${local.meta_unit_name}-${local.meta_edition}")
  meta_short_hash           = substr(local.meta_instance_sha256_hash, 0, 8)
  universal_prefix          = "${local.meta_product_name}-${local.meta_short_hash}"
}

output "meta_instance_sha256_hash" {
  value       = local.meta_instance_sha256_hash
  description = "Meta: The full SHA256 hash for this instance of the TF root module."
}

output "meta_instance_short_hash" {
  value       = local.meta_short_hash
  description = "Meta: A unique identifier for this instance of the TF root module."
}
