# SPDX-FileCopyrightText: [[ copyright_date ]]-present [[ maintainer_fullname ]] <[[ maintainer_email ]]>
#
# SPDX-License-Identifier: MIT
#

provider "aws" {

  assume_role {
    role_arn = var.tf_exec_role_arn
  }

  default_tags {
    tags = {
      Provisioner        = "Terraform"
      Edition            = local.meta_edition
      Environment        = local.meta_environment_name
      Product            = local.meta_product_name
      Unit               = local.meta_unit_name
      InstanceSha256     = local.meta_instance_sha256_hash
    }
  }
}
