# SPDX-FileCopyrightText: 2025-present Stuart Ellis <stuart@stuartellis.name>
#
# SPDX-License-Identifier: [[ project_license ]]
#

provider "aws" {

  assume_role {
    role_arn = var.tf_exec_role_arn
  }

  default_tags {
    tags = {
      Component      = local.meta_component_name
      Edition        = local.meta_edition_name
      EditionId      = local.edition_id
      Environment    = local.meta_environment_name
      Product        = local.meta_product_name
      Provisioner    = "Terraform"
    }
  }
}
