# SPDX-FileCopyrightText: [[ copyright_date ]]-present [[ maintainer_fullname ]] <[[ maintainer_email ]]>
#
# SPDX-License-Identifier: MIT
#

resource "aws_ssm_parameter" "tft_unit_present" {
  name  = "/metadata/${var.product_name}/${var.unit_name}/${var.environment_name}/${var.track}/present"
  type  = "String"
  value = "true"
}
