# SPDX-FileCopyrightText: [[ copyright_date ]]-present [[ maintainer_fullname ]] <[[ maintainer_email ]]>
#
# SPDX-License-Identifier: [[ project_license ]]
#
# Required tfvars for tft:
#
# https://github.com/stuartellis/tf-tasks
#
# Use locals to define resource names, tags and labels.
# Only use these tft variables in locals. Never use them directly in code.
# See meta_locals.tf for standard locals to use in resource names.

variable "tft_environment_name" {
  type        = string
  description = "TFT: Environment name."
}

variable "tft_product_name" {
  type        = string
  description = "TFT: Product name."
}

variable "tft_unit_name" {
  type        = string
  description = "TFT: Unit name."
}

variable "tft_edition" {
  type        = string
  description = "TFT: Edition."
}
