# SPDX-FileCopyrightText: {{ copyright_date }}-present {{ maintainer_fullname }} <{{ maintainer_email }}>
#
# SPDX-License-Identifier: MIT
#
# See: https://git-scm.com/docs/gitignore

# Generated TF files
.terraform
